.creators {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 111px 0;

  p {
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #111111;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}