
.header {
  max-width: 1240px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;


  &__logo {
    padding: 16px 0;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list {
    transition: all 0.5s ease;
  }

  &__burger {
    display: none;
  }

  &__item {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s ease;


    &:hover {
      color: #F49879;
    }
  }

  &__login {
    margin-left: 50px;
  }

  @media (max-width: 1000px) {
  }

  @media (max-width: 860px) {
    justify-content: center;
    flex-direction: column;
    &__burger {
      display: flex;
      margin-left: 25px;
    }

    &__menu {
      justify-content: center;
    }

    &__list {
      //position: absolute;
      padding-top: 20px;
      justify-content: center;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      visibility: hidden;
    }

    &__buttons {
      display: flex;
      margin-right: 20px;
      align-items: center;
    }

    &__item {
      &:first-child {
        margin-left: 0;
      }
    }

    &__list.active {
      opacity: 1;
      visibility: visible;
      //transform: translateY(0);
    }
  }
}