.customized {
  max-width: 1440px;
  margin: 0 auto;

  padding: 144px 0;

  &__text {
    max-width: 654px;

    p {
      &:first-child {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #111111;
      }
      &:last-child {
        font-size: 72px;
        line-height: 86px;
        color: #111111;
      }
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 94px 0;

    img {
      box-shadow: 8px 16px 26px rgba(61, 72, 83, 0.3);
      max-height: 996px;
    }
  }

  &__second {
    p {
      max-width: 493px;
      font-size: 24px;
      line-height: 36px;
      color: #111111;
      margin-bottom: 96px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    position: relative;
    list-style: none;

    max-width: 384px;

    margin-top: 80px;

    p {
      &:first-child {
        max-width: 315px;
        font-size: 36px;
        line-height: 36px;
        color: #111111;
      }

      &:last-child {
        padding-top: 24px;
        font-size: 16px;
        line-height: 26px;
        color: #111111;
      }
    }

    &:after {
      position: absolute;
      top: -40%;
      content: '';
      width: 36px;
      height: 36px;
      background: #EAF4FC;
      border-radius: 50%;
    }

    &:first-child:after, &:last-child:after {
      position: absolute;
      top: -40%;
      content: '';
      width: 36px;
      height: 36px;
      background: #FCECDC;
      border-radius: 50%;
    }
  }
}